<% content_for :title, @portfolio_entry.title %>

<% content_for :body_content_title do %>
  <span><%= @portfolio_entry.title %></span>
<% end %>

<% content_for :body_content_left do %>

  <%= content_tag('div', raw(@portfolio_entry.body)) if @portfolio_entry.body.present? %>

  <div class="portfolio">
    <ul>
      <% @portfolio_entry.images.each do |image| %>
        <li class="rounded-corners">
          <%= link_to(image_tag(image.image.thumb('120x100#c').url), image.url, :rel => @portfolio_entry.id) %>
        </li>
      <% end %>
    </ul>
  </div>

<% end %>

<div class='portfolio'>
  <%= render :partial => "/shared/content_page" %>
</div>